<div class="logo text-center">
    <img src="assets/images/logo.png" alt="Logo">
    <h1 class="text-center font-weight-bold animate__heartBeat">{{socialPagina.social.titulo}}</h1>
</div>
<nav class="menu">
    <ul class="text-center">
        <li class="d-block p-2"><a routerLink="/home" title="Inicio">Inicio</a></li>
        <li class="d-block p-2"><a routerLink="/photos" title="Proyectos">Proyectos</a></li>
        <li class="d-block p-2"><a routerLink="/about" title="Sobre mi">Sobre mi</a></li>
        <li class="d-block p-2"><a routerLink="/contact" title="Contacto">Contacto</a></li>
        <li *ngIf="authService.usuarioData$ | async; else showLogin" class="d-block p-2">
            <a (click)="onLogout()" title="Logout">Logout</a>
        </li>
        <ng-template #showLogin>
            <li class="d-block p-2"><a routerLink="/login" title="Login">Login</a></li>
        </ng-template>
    </ul>
</nav>
<div class="sidebar-footer">
    <h3 class="text-center pt-5">Mis redes</h3>
    <div class="footer-container d-flex justify-content-center">
        <div class="icons rounded-circle">
            <a target="_blank" [href]="socialPagina.social.facebook" title="Facebook" class="">
                <i class="icon ion-logo-facebook mr-4 lead"></i>
            </a>
        </div>

        <div class="icons rounded-circle">
            <a target="_blank" [href]="socialPagina.social.pinterest" title="Pinterest" class="">
                <i class="icon ion-logo-pinterest mr-4 lead"></i>
            </a>
        </div>

        <div class="icons rounded-circle">
            <a target="_blank" [href]="socialPagina.social.linkedin" title="Linkedin" class="">
                <i class="icon ion-logo-linkedin mr-4 lead"></i>
            </a>
        </div>
    </div>
</div>