<div class="jumbotron text-center">
    <h1 class="display-3">Gracias!</h1>
    <p class="lead"><strong>Contactese conmigo mediante mis redes </strong>para más información.</p>
    <hr>
    <div class="social">
        <a href="mailTo:{{socialPagina.social.email}}" class="link mail" data-toggle="tooltip" placement="bottom" ngbTooltip="{{socialPagina.social.email}}">
            <span class="icon ion-md-mail"></span>
        </a>

        <a target="_blank" [href]="socialPagina.social.facebook" class="link facebook" data-toggle="tooltip" placement="bottom" ngbTooltip="{{socialPagina.social.facebook}}">
            <span class="icon ion-logo-facebook"></span>
        </a>

        <a target="_blank" [href]="socialPagina.social.pinterest" class="link pinterest" data-toggle="tooltip" placement="bottom" ngbTooltip="{{socialPagina.social.pinterest}}">
            <span class="icon ion-logo-pinterest"></span>
        </a>

        <a target="_blank" [href]="socialPagina.social.linkedin" class="link google-plus" data-toggle="tooltip" placement="bottom" ngbTooltip="{{socialPagina.social.linkedin}}">
            <span class="icon ion-logo-linkedin"></span>
        </a>
    </div>
</div>