<section class="main-photograhy">
    <div class="photograhy">
        <div class="gutters card-columns">
            <div *ngFor="let photo of photoService.filterPhotos" class="card text-center animacion fundirse">
                <a href="assets/images/{{photo.url}}.png" title="" data-lightbox="roadtrip">
                    <img src="assets/images/{{photo.url}}.png" class="card-img-top imagesource" alt="{{photo.cod}}">
                    <div>
                        <h3 class="card-title">{{photo.descripcion}}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>