.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}