<div class="jumbotron">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Desarrollo de template</p>
    <hr class="my-4 linea">
    <div class="card-deck">
        <div class="card box-part">
            <div class="card-body text-center">
                <h5 class="card-title">45 Imagenes</h5>
                <i class="fa fa-file-image-o image-card" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card box-part">
            <div class="card-body text-center">
                <h5 class="card-title">45 videos</h5>
                <i class="fa fa-video-camera image-card" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card box-part">
            <div class="card-body text-center">
                <h5 class="card-title">2 Usuarios</h5>
                <i class="fa fa-user-circle-o image-card" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card box-part">
            <div class="card-body text-center">
                <h5 class="card-title">65 Fotos</h5>
                <i class="fa fa-camera image-card" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card box-part">
            <div class="card-body text-center">
                <h5 class="card-title">232 Dibujos</h5>
                <i class="fa fa-paint-brush image-card" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>