<app-loader *ngIf="photoService.cargando">
</app-loader>

<section *ngIf="!photoService.cargando" class="main-photograhy">
    <div class="photograhy">
        <div class="gutters card-columns">
            <div *ngFor="let photo of photoService.photos" class="card text-center animacion fundirse">
                <a href="{{photo.fileUrl}}" title="" data-lightbox="roadtrip">
                    <img src="{{photo.fileUrl}}" class="card-img-top imagesource" alt="{{photo.codigo}}">
                    <div>
                        <h3 class="card-title">{{photo.descripcion}}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>